

.panel-body{
    color: black;
}
.container_note{
    background-color: transparent !important;
    border: none
}
.container_subject{
    background-color: transparent !important;
    border: none;
    box-shadow: none;
    margin-bottom: 60px;
}
section.success{
    background-color: yellow;
    position: relative;
}
.navbar-custom{
    background: #1E90FF
}
.container_title_subject{
    text-align: center;
    border-radius: 6px;
    background-color: #1E90FF !important;
    color: yellow !important;
}
button.button_create_subject{
    color: yellow !important;
    background-color: #1E90FF;
    border-color: #1E90FF;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    margin-left: 44%;
}
.button_view_subject{
    color: #fff !important;
    background-color: #f0ad4e;
    border-color: #eea236;
    margin-top: 15px;
    margin-left: 31px;
}
.button_delete_subject{
    color: #fff !important;
    background-color: #d9534f;
    border-color: #d43f3a;
    margin-top: 15px;
    margin-left: 31px;
}
.buttont_subject{
    float: right;
}
.container_button_update_subject{
    float: left;
}
.button_update_subject{
    color: #fff !important;
    background-color: #00FFFF;
    border-color: #00FFFF;
    margin-top: 15px;
}
.button_return_subject{
    background-color: #1E90FF !important;
    border-color: #1E90FF !important;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -79px;
    color: yellow !important;
}
    .title_node{
    color: yellow !important;
    background-color: #1E90FF !important;
    border-color: #1E90FF !important;
    text-align: center
}
.button_modal_save{
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}
.button_modal_close{
    color: #fff !important;
    background-color: #d9534f !important;
    border-color: #d43f3a !important;
}
.form-signin{
    width: 40%;
    margin: auto;
}
.form-signin-heading{
    color: #1E90FF;
    font-size: 25px;
    text-align: center;
    margin: 25px 0;
}
.input_emai_style, .input_name_style, .input_password_style{
    margin-bottom: 10px;
}
.title_name_header{
    color: yellow;
}
.description_node{
    background: #fff;
}
.logo_header{
    background-image: url('/src/img/Ukrainian-flag-1.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 350px;
    height: 110px;
}
.padding_section{
    padding-top: 120px !important;
}
.padding_nav{
    padding: 5px 0;
}